*{
        margin: 0;
        padding: 0;
}

body{
        background-image: url("photo.jpg");
        background-size: 100%;
        background-repeat: no-repeat;
        background-color: black;
}

#check{
        display: none;
}

.btn_one{
        color: whitesmoke;
        font-size: x-large;
        opacity: 0.7;
        position: absolute;
        top: 6vh;
        left: 3vw;
}

.sidebar_menu{
        position: absolute;
        top: 2.5vh;
        left: -25vw;
        height: 95vh;
        width: 15vw;
        background-color: rgba(255, 255, 255, 0.05);
        box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
        transition: all 0.2s linear;
        border-radius: 2vh;
}

.sidebar_menu .logo {
        position: absolute;
        width: inherit;
        line-height: 10vh;
        height: 10vh;
        border-radius: 2vh;
        box-shadow: 0 0 6px rgba(255, 255, 255, 0.5);
}

.sidebar_menu .logo #a{
        color: rgb(224, 226, 219);
        font-size: 1.4em;
        text-decoration: none;
        position: absolute;
        left: 2vw;
}

.sidebar_menu .btn_two{
        color: rgb(224, 226, 219);
        font-size:x-large;
        opacity: 0.8;
        position: absolute;
        /* top: 3.5vh; */
        top: 1vh;
        left: 17vw;
}

.sidebar_menu .menu{
        position: absolute;
        width: inherit;
        top: 16vh;
}

.menu li{
        margin: 1vh 1vw 1vh;
        padding-left: 2vw;
        width: inherit;
        list-style: none;
        font-size: 1.2em;
        line-height: 8vh;
        text-align: justify;
        opacity: 0.6;
}

.menu li i{
        color: rgb(184, 189, 181);
        /* opacity: 0.6; */
        padding: 1vh;
}

.menu li a{
        text-decoration: none;
        color: rgb(184, 189, 181);
        /* opacity: 0.6; */
}

.sidebar_menu .social_media{
        position: absolute;
        bottom: 2.5vh;
        width: inherit;
        /* margin: 1vh 1vw 1vh; */
        text-decoration: none;
        font-size: 1.2em;
        line-height: 8vh;
        text-align: center;
}

.sidebar_menu .social_media i{
        color: rgba(184, 189, 181,0.2);
        font-size: large;
}

.sidebar_menu .logo:hover{
        box-shadow: 0 0 6px rgba(255, 255, 255, 0.8);
        /* border-radius: 2vh; */
}

.menu li:hover{
        box-shadow: 0 0 6px rgba(255, 255, 255, 0.5);
        border-radius: 1vh;
        opacity: 1;
        font-size: 1.3em;
}

.sidebar_menu .btn_two i:hover{
        /* font-size: xx-large; */
        transform: scale(1.3,1.3);
}

.sidebar_menu .btn_one i:hover{
        /* font-size: xx-large; */
        transform: scale(1.3,1.3);
}

.sidebar_menu .social_media i:hover{
        color: rgba(184, 189, 181,0.7);
        font-size: x-large;
        margin: 1vw;
}

#check:checked ~ .sidebar_menu{
        left: 0;
}

#check:checked ~ .btn_one{
        display: none;
}