<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>HOme Page</title>
</head>
<body>
        <h1>This is the home page</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis saepe, maxime sit hic cupiditate libero facere et dignissimos sint eos nihil, veritatis corrupti commodi! Dignissimos sequi cum sit laboriosam, explicabo omnis pariatur ea ab itaque deserunt suscipit natus aliquid fugiat voluptas ipsam aspernatur blanditiis! Necessitatibus explicabo officia quam expedita rem nisi tenetur ad, voluptates eligendi odio.</p>
        <button>click me</button>
</body>
</html>