#header{
    align-content: center;
}
#sitename{
    /* height: fit-content; */
    display: inline-block;
}
#nameandlogo{
    background-color: rgb(223, 210, 183);
    font-size: xx-large;
    text-align: center;
}
#video{
    background-color: rgb(232, 232, 90);
    text-align: center;
    margin: 5px;
    padding: 5px;
    font-size: larger;
}
#audio{
    background-color: rgb(228, 228, 10);
    text-align: center;
    margin: 5px;
    padding: 5px;
}
#body{
    background-color: rgb(15, 0, 0);
}
#divvideo{
    color: azure;
}
#videotab{
    max-height: max-content;
    background-color: rgb(16, 227, 34);
    font-size: 60px;
}
#audiotab{
    max-height: max-content;
    background-color: aqua;
    font-size: 60px;
}