<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Updating Post</title>
        <link rel="stylesheet" href="/style.css">
</head>
<body>
        <h1>Update your post</h1>
        <h2>ID:<%= post.id %></h2>
        <h1>ID:<%= post.username %></h1>
        <form method="post" action="/posts/<%= post.id %>?_method=PATCH">
                <textarea name="content" placeholder="Enter Your Content"><%= post.content %> </textarea><br>
                <button>Update</button>
        </form>
</body>
</html>